
.bg-azul {
  background-color:  #004b81;
}
.border-azul {
  border: 2px solid #004b81;
}
.fill-white {
  fill: white;
  width: 30px;
}
.horario-extendido {

  width: 100%;
  height: 350px;
  background-color: #004b81; /* Card background color */

  padding: 20px;
  color: white;
  font-family: Arial, sans-serif;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header-horario {
  position: relative;
  width: 36%;
  height: 150px;
  top: 0;
  left: 0;
  background-color: #348bc9;
  border-radius: 16px 10px 75px 75px;
  box-shadow: 10px 15px #143857;
  position: relative;
    z-index: 10;
}

.deco img{
  width: 600px;
  top: -20%;
  position: absolute;
  left: -368px;
  filter: opacity(0.2);
}
.deco2 img{
  width: 500px;
  bottom: -70%;
  position: absolute;
  right: -90px;
  filter: opacity(0.2);
}


.cpc-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  border-radius: 50%;
  padding: 10px;
}
.cpc-logo img{
  width: 80%;
}


.horario-extendido ul {
  list-style: none;
}

.horario-extendido li{
  display: flex; 
  align-items: flex-end;
}

.horario-extendido li p{
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  color: #d07386;
  }

  .horario-extendido li .nombre{
    color: #ffffff;
  }
  .horario-extendido li .direccion{
    color: #348bc9;
  }


.horario-extendido li::before {
  content: '⚪'; /* Custom marker */
  font-size: 10px;
  top: -20px;
  position: relative;
  color: #ffffff9d;/* Marker color */
  margin-right: 10px;
  // filter: 
  // drop-shadow(3px 0px 1px #d07386) 
  // drop-shadow(0px 3px 1px #d07386)
  // drop-shadow(3px 3px 1px #348bc9)
  // drop-shadow(-3px 0px 1px #d07386) 
  // drop-shadow(0px -3px 1px #d07386)
  // drop-shadow(-3px -3px 1px #348bc9);
  
}
.img-noticia {
    width: 150px;
    height: auto;
    object-fit: cover;
}
.body-horario{
  position:absolute;
  top: 15%;
  left: 50%;
  font-size: 25px;
}

.footer {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -20%);
  width: 350px;
  float:right;
  background-color: #d07386; /* Footer background color */
  padding: 5px;
  border-radius: 20px;
}

.footer p {
  margin-bottom: 0;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
  padding: 5px 15px;
  text-align: left;
}

@media (width < 480px) {
  .horario-extendido {
    height: 500px;
  }

  .body-horario{
    top: 35% !important;
    left: 10% !important;
  }

  .header-horario {
    width: 95%;
    height: 50px;
  }
  .deco img{
    top: 10%;
    left: -395px;
  }
  .deco2 img{
    /* width: 500px;
    bottom: -10%;
    transform: rotate(-90deg);
    right: -250px; */
    display: none;
  }
  
  .cpc-logo {
    padding: 20px;
  }
  .cpc-logo img{
    width: 80% !important;
  }

  li p{
  font-size: 20px;
  margin-left: 0px;
  margin-right: 0px;
  line-height: 1;
  }
}


@media (width < 840px) {
  .body-horario{
    top: 35%;
    left: 15%;
  }

  .header-horario {
    height: 130px;
  }
  .body-horario{
    top: 15%;
    left: 35%;
  }


  li p{
  font-size: 20px;
  line-height: 1;
  }
}